[build]
command = """
curl -OL https://www.7-zip.org/a/7z2409-linux-x64.tar.xz && \
tar -xvf 7z2409-linux-x64.tar.xz 7zz && \
mv 7zz 7z && \
\
curl -OL https://github.com/typst/typst/releases/download/v0.14.0/typst-x86_64-unknown-linux-musl.tar.xz && \
tar -xvf typst-x86_64-unknown-linux-musl.tar.xz && \
mv typst-x86_64-unknown-linux-musl/typst typst && \
rm -r typst-x86_64-unknown-linux-musl && \
\
curl -OL https://github.com/typst/typst/releases/download/v0.13.1/typst-x86_64-unknown-linux-musl.tar.xz && \
tar -xvf typst-x86_64-unknown-linux-musl.tar.xz && \
mv typst-x86_64-unknown-linux-musl/typst typst-0.13.1 && \
rm -r typst-x86_64-unknown-linux-musl && \
\
export PATH=$PATH:$(pwd) && \
\
curl -OL https://github.com/typst-doc-cn/guide/releases/download/files/fonts.7z && \
7z x fonts.7z -ofonts && \
curl -L https://github.com/matplotlib/matplotlib/raw/be68dfecf9d26ac1a8e1e30a0de6171ecf174cd5/lib/matplotlib/mpl-data/fonts/ttf/cmsy10.ttf -o fonts/cmsy10.ttf && \
\
pnpm install && \
sed -i "/base: '\\/guide\\/',/d" docs/.vitepress/config.ts && \
pnpm build
"""
