:root {
  --vp-c-brand-1: #f06292;
  --vp-c-brand-light: #ff94c2;
  --vp-c-brand-dark: #ba2d65;
  --vp-code-block-bg: #f6f8fa;
  --vp-code-copy-code-bg: #dedede;
  --vp-code-copy-code-hover-bg: #dedede;
  --vp-c-text-dark-2: #8f8f8f;
  --vp-c-text-dark-3: #8f8f8f;
  --vp-sidebar-bg-color: var(--vp-c-bg);
  --vp-custom-block-tip-border: transparent;
  --vp-custom-block-tip-text: var(--vp-c-text-1);
  --vp-nav-bg-color: color-mix(in srgb, var(--vp-c-bg) 95%, transparent);
  --vp-custom-block-tip-bg: #ecfdf5;
  --vp-custom-block-tip-border: #dcfce7;
  --vp-custom-block-tip-text: #15803d;
  --vp-c-brand-nav-active: color-mix(in srgb, var(--vp-c-brand-light) 15%, transparent 100%);
  --vp-nav-logo-height: 28px;
}

.dark {
  --vp-c-bg: #0f172a;
  --vp-c-bg-alt: #111827;
  --vp-c-bg-soft: #1e293b;
  --vp-c-divider: #334155;
  --vp-code-block-bg: #1e293b;
  --vp-c-bg-alpha-with-backdrop: #1f2937bf;
  --vp-code-copy-code-bg: #273345;
  --vp-code-copy-code-hover-bg: #273345;
  --vp-c-text-dark-2: #8a8a8a;
  --vp-c-text-dark-3: #8a8a8a;
  --vp-custom-block-tip-bg: #064e3b;
  --vp-custom-block-tip-border: #052e16;
  --vp-custom-block-tip-text: #f0fdf4;
  --vp-c-brand-nav-active: color-mix(in srgb, var(--vp-c-brand-dark) 30%, transparent 100%);
}

html,
body {
  background-color: var(--vp-c-bg) !important;
}

button.copy::after {
  top: 0;
  width: 40px;
  height: 40px;
  color: var(--vp-icon-copy);
  background-size: contain;
}

.vp-doc img {
  margin: 8px auto;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}