name: autofix.ci # needed to securely identify the workflow

on:
  push:
    branches:
      - main
  pull_request:

permissions:
  contents: read

jobs:
  fmt:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v4
        with:
          cache: pnpm
      - run: pnpm install
      - run: pnpm fmt
      - uses: autofix-ci/action@635ffb0c9798bd160680f18fd73371e355b85f27
