name: Build
on:
  push:
    branches:
      - master

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    name: VitePress build
    steps:
      - uses: actions/checkout@v4
        with:
          # All history is required for https://vitepress.dev/reference/default-theme-last-updated
          fetch-depth: 0

      # The order matters https://github.com/typst-community/setup-typst/issues/51
      - name: Setup old typst versions
        uses: typst-community/setup-typst@v4
        with:
          typst-version: v0.13.1
          executable-name: typst-0.13.1
      - uses: typst-community/setup-typst@v4
        with:
          typst-version: v0.14.0

      - name: Restore cached fonts
        # Downloading fonts is time consuming.
        uses: actions/cache@v4
        id: fonts-cache
        with:
          path: |
            fonts/
          key: fonts-${{ hashFiles('scripts/download-fonts.sh') }}
      - name: Download fonts
        if: steps.fonts-cache.outputs.cache-hit != 'true'
        run: bash scripts/download-fonts.sh

      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v4
        with:
          cache: pnpm
      - run: pnpm install

      - run: pnpm build
        env:
          GH_TOKEN: ${{ github.token }} # `<SeeAlso>` requires GitHub CLI

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: docs/.vitepress/dist

  # Deploy job
  deploy:
    # Add a dependency to the build job
    needs: build

    # Grant GITHUB_TOKEN the permissions required to make a Pages deployment
    permissions:
      pages: write # to deploy to Pages
      id-token: write # to verify the deployment originates from an appropriate source

    # Deploy to the github-pages environment
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    # Specify runner + deployment step
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4 # or specific "vX.X.X" version tag for this action
