name: Build and deploy
on:
  push:
    branches:
      - master
  workflow_dispatch:
    # TODO: Enable all deployments by default later.
    inputs:
      deploy-all:
        description: Also deploy to cloudflare
        type: boolean
        default: false
        required: true

concurrency:
  group: pages
  cancel-in-progress: false

jobs:
  build:
    runs-on: ubuntu-latest
    name: VitePress build (${{ matrix.profile }})
    strategy:
      matrix:
        profile:
          - default
          - vercel
          - cloudflare
    steps:
      - uses: actions/checkout@v4
        with:
          # All history is required for https://vitepress.dev/reference/default-theme-last-updated
          fetch-depth: 0

      # The order matters https://github.com/typst-community/setup-typst/issues/51
      - name: Setup old typst versions
        uses: typst-community/setup-typst@v4
        with:
          typst-version: v0.13.1
          executable-name: typst-0.13.1
      - uses: typst-community/setup-typst@v4
        with:
          typst-version: v0.14.2

      - name: Restore cached fonts
        # Downloading fonts is time consuming.
        uses: actions/cache@v4
        id: fonts-cache
        with:
          path: |
            fonts/
          key: fonts-${{ hashFiles('scripts/download-fonts.sh') }}
      - name: Download fonts
        if: steps.fonts-cache.outputs.cache-hit != 'true'
        run: bash scripts/download-fonts.sh

      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v6
        with:
          cache: pnpm
      - run: pnpm install

      - run: pnpm build
        env:
          GH_TOKEN: ${{ github.token }} # `<SeeAlso>` requires GitHub API
          VP_PROFILE: ${{ matrix.profile }}

      - name: Upload pages artifact
        if: ${{ matrix.profile == 'default' }}
        uses: actions/upload-pages-artifact@v3
        with:
          path: docs/.vitepress/dist
      - name: Upload artifact for ${{ matrix.profile }}
        if: ${{ matrix.profile != 'default' }}
        uses: actions/upload-artifact@v6
        with:
          name: ${{ matrix.profile }}-dist
          path: docs/.vitepress/dist

  deploy:
    name: Deploy to GitHub Pages
    needs: build

    # Grant GITHUB_TOKEN the permissions required to make a Pages deployment
    permissions:
      pages: write # to deploy to Pages
      id-token: write # to verify the deployment originates from an appropriate source

    # Deploy to the github-pages environment
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    runs-on: ubuntu-latest
    steps:
      - id: deployment
        uses: actions/deploy-pages@v4

  deploy-vercel:
    name: Deploy to Vercel
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@v7
        with:
          name: vercel-dist
      - name: Disable clean URLs
        # https://vitepress.dev/guide/routing#generating-clean-url does not work.
        # If enabled, /guide/foo is okay, but /guide/foo.html redirects to /foo, not /guide/foo.
        shell: bash
        run: |
          cat >vercel.json <<'EOF'
          {
            "$schema": "https://openapi.vercel.sh/vercel.json",
            "cleanUrls": false
          }
          EOF
      - env:
          VERCEL_JSON: ${{ secrets.VERCEL_JSON }}
          VERCEL_TOKEN: ${{ secrets.VERCEL_TOKEN }}
        run: |
          mkdir -p .vercel
          echo "$VERCEL_JSON" > .vercel/project.json
          npx vercel --prod --yes --token $VERCEL_TOKEN

  deploy-cloudflare:
    name: Deploy to Cloudflare Pages
    needs: build
    if: ${{ github.event_name == 'workflow_dispatch' && inputs.deploy-all }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@v7
        with:
          name: cloudflare-dist
          path: docs/.vitepress/dist
      - uses: cloudflare/pages-action@v1
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ vars.CLOUDFLARE_ACCOUNT_ID }}
          projectName: 'typst-doc-cn-guide'
          directory: './docs/.vitepress/dist'
          gitHubToken: ${{ secrets.GITHUB_TOKEN }}
