name: Check
on:
  push:
    branches:
      - master
  pull_request:
  merge_group:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    name: VitePress build (${{ matrix.profile }})
    strategy:
      matrix:
        profile:
          - default
          - vercel
          - cloudflare
    steps:
      - uses: actions/checkout@v6
        with:
          # All history is required for https://vitepress.dev/reference/default-theme-last-updated
          fetch-depth: 0

      # The order matters https://github.com/typst-community/setup-typst/issues/51
      - name: Setup old typst versions
        uses: typst-community/setup-typst@v4
        with:
          typst-version: v0.13.1
          executable-name: typst-0.13.1
      - uses: typst-community/setup-typst@v4
        with:
          typst-version: v0.14.2

      - name: Restore cached fonts
        # Downloading fonts is time consuming.
        uses: actions/cache@v4
        id: fonts-cache
        with:
          path: |
            fonts/
          key: fonts-${{ hashFiles('scripts/download-fonts.sh') }}
      - name: Download fonts
        if: steps.fonts-cache.outputs.cache-hit != 'true'
        run: bash scripts/download-fonts.sh

      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v6
        with:
          cache: pnpm
      - run: pnpm install

      - run: pnpm build
        env:
          GH_TOKEN: ${{ github.token }} # `<SeeAlso>` requires GitHub API
          VP_PROFILE: ${{ matrix.profile }}

      - uses: actions/upload-artifact@v6
        with:
          name: ${{ matrix.profile }}-dist
          path: docs/.vitepress/dist
